.boost {
    text-align: center;
    background-color: $darkViolet;
    padding: 6.25rem 0.3125rem;
    background-image: url(../images/bg-boost-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 90vh;
    &-title {
        color: $white;
        font-size: 1.875rem;
    }
    &-btn {
        background-color: $cyan;
        padding: 0.625rem 1.875rem;
        margin-top: 1.25rem;
        color: $white;
        font-size: 1.25rem;
        font-weight: bolder;
        border-radius: 3.125rem;
        &:hover {
            background-color: hsla(180, 53%, 70%, 0.753);
        }
    }
}

@media (min-width: 1200px) {
    .boost {
        padding: 5rem 0.3125rem;
        background-image: url(../images/bg-boost-desktop.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 98.125rem;
    }
}