.footer {
    background-color: $veryDarkViolet;
    padding: 3.125rem 0.3125rem;
    text-align: center;
    .container {
        background-color: $veryDarkViolet;
        .footer-brand {
            img {
                padding-bottom: 1.875rem;
            }
        }
        .footer-feature {
            
            .feature-title {
                color: $white;
                font-size: 1.25rem;
                padding-bottom: 1.25rem;
            }
            .feature-link {
                color: $grayishViolet;
                @include flex-row-col(column , center , center);
                padding: 0.625rem;
                &:hover {
                    color: $cyan;
                }
            }
        }
        .footer-resource {
            .resource-title {
                color: $white;
                font-size: 1.25rem;
                padding: 1.875rem 0 1.25rem 0;
            }
            .resource-link {
                color: $grayishViolet;
                @include flex-row-col(column , center , center);
                padding: 0.625rem;
                &:hover {
                    color: $cyan;
                }
            }
        }
        .footer-company {
            .company-title {
                color: $white;
                font-size: 1.25rem;
                padding: 1.875rem 0 1.25rem 0;
            }
            .company-link {
                color: $grayishViolet;
                @include flex-row-col(column , center , center);
                padding: 0.625rem;
                &:last-child {
                    padding-bottom: 2.5rem;
                }
                &:hover {
                    color: $cyan;
                }
            }
        }
    
        .social-media {
            &-link {
                color: black;
                padding: 0.625rem;
                svg path {
                    transition: fill 1s;
                }
                &:hover svg path {
                    fill: $cyan;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .footer {
        .container {
            display: grid;
            grid-template-columns: 24.375rem 14.375rem 14.375rem 14.375rem 12.5rem;
            text-align: left;
            width: 81.25rem;
            margin: auto;
            .footer-feature {
                .feature-title {
                    padding-bottom: 1.25rem;
                }
                .feature-link {
                    padding-left: 0;
                    align-items: flex-start;
                }
            }
            .footer-resource {
                .resource-title {
                    padding: 0px 0 1.25rem 0;
                }
                .resource-link {
                    padding-left: 0;
                    align-items: flex-start;
                }
            }
            .footer-company {
                .company-title {
                    padding: 0px 0 1.25rem 0;
                }
                .company-link {
                    padding-left: 0;
                    align-items: flex-start;
                }
        }
        }
    }
}