.hero {
    background-color: $white;
    .container {
        .crop-img {
            overflow-x: hidden;
            .hero-img {
                margin-left: 1.875rem;
                width: 130vw;
            }
        }
    
        .hero-content {
            margin-top: 2.5rem;
            text-align: center;
            height: 28.125rem;
            .hero-title {
                font-size: 2.8125rem;
                line-height: 3.125rem;
                color: $veryDarkBlue;
            }
            .hero-text {
                color: $grayishViolet;
                font-size: $font-body;
                width: 80vw;
                margin: 0.9375rem auto;
            }
            .hero-btn {
                background-color: $cyan;
                color: $white;
                padding: 0.625rem 2.1875rem;
                margin: 0.625rem auto;
                border-radius: 3.125rem;
                font-weight: bolder;
                font-size: $font-body;
                &:hover {
                    background-color: hsla(180, 66%, 49%, 0.514);
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .hero {
        .container {
            display: flex;
            height: 37.5rem;
            width: 70.625rem;
            margin: auto;
            .crop-img {
                overflow-x: visible;
                order: 2;
                .hero-img {
                    width: 40.625rem;
                    height: 28.125rem;
                    margin-left: 12.5rem;
                }
            }
        
            .hero-content {
                order: 1;
                text-align: left;
                margin-top: 6.25rem;
                .hero-title {
                    font-size: 4.0625rem;
                    width: 37.5rem;
                    line-height: 4.6875rem;
                }
                .hero-text {
                    width: 31.25rem;
                    margin: 1px;
                }
                .hero-btn {
                    margin-top: 1.875rem;
                }
            }
        }
    }
}