// mobile first view

.navbar {
    background-color: $white;
    .container {
        padding: 2.1875rem 1.875rem;
        
        .navbar-brand {
            img {}
        }
        .toggler {
            width: 1.875rem;
            height: 2.1875rem;
            position: absolute;
            right: 1.875rem;
            top: 1.875rem;
            opacity: 0;
            cursor: pointer;
            z-index: 10;
        }

        .toggler:checked ~ .navbar-nav {
            display: block;
        }
        
        .hamburger-menu {
            width: 1.875rem;
            height: 2.1875rem;
            background-color: transparent;
            position: absolute;
            right: 1.875rem;
            top: 1.875rem;
            z-index: 5;
            @include flex(center , center);
            .hamburger-line {
                height: 0.25rem;
                width: 100%;
                background-color: $grayishViolet;
                position: relative;
                @include flex(center , center);
                &::before {
                    content: '';
                    height: 0.25rem;
                    width: 100%;
                    background-color: $grayishViolet;
                    position: absolute;
                    top: 0.75rem;
                }
                &::after {
                    content: '';
                    height: 0.25rem;
                    width: 100%;
                    background-color: $grayishViolet;
                    position: absolute;
                    top: -0.75rem;
                }
            }
        }
        .navbar-nav {
            display: none;
            text-align: center;
            background-color: $white;
            .navs-1 {
                    .nav-item {
                        padding: 10px;
                        .nav-link {
                            color: $grayishViolet;
                            &:hover {
                                color: black;
                            }
                        }
                    }
            }
            .navs-2 {
                    .nav-item {
                        padding: 0.625rem;
                        .nav-link {
                            color: $grayishViolet;
                            &:hover {
                                color: black;
                            }
                        }
                        .nav-btn {
                            color: $white;
                            border-radius: 1.875rem;
                            padding: 0.375rem 1.0625rem;
                            background-color: $cyan;
                            &:hover {
                                background-color: hsla(180, 66%, 49%, 0.637);
                            }
                        }
                    }
            }
        }
    }
}

// desktop view 

@media (min-width: 1200px) {
     
    .navbar {
        .container {
            width: 75rem;
            margin: auto;
            @include flex-row-col(row , none , center);
            .navbar-brand {
                margin-right: 1.25rem;
            }
            .hamburger-menu {
                display: none;
                .hamburger-line {
                }
            }
            .navbar-nav {
                @include flex-row-col(row , none , center);
                .navs-1 {
                    @include flex-row-col(row , center , center);
                        
                        .nav-item {
                            margin-bottom: 0.4375rem;
                            .nav-link {
                                font-size: 0.8125rem;
                            }
                        }
                }
                .navs-2 {
                    @include flex-row-col(row , end , center);
                    position: relative;
                    left: 37.5rem;
                        .nav-item {
                            margin-bottom: 0.375rem;
                            .nav-link {
                                font-size: 0.8125rem;
                            }
                            .nav-btn {
                                font-size: 0.8125rem;
                            }
                        }
                }
            }
        }
    }
}