.url-input {
    .url-form {
        width: 85vw;
        margin: -5rem auto auto auto;
        background-color: $darkViolet;
        border-radius: 0.625rem;
        padding: 0.9375rem 0.625rem;
        background-image: url(../images/bg-shorten-mobile.svg);
        background-repeat: no-repeat;
        background-position: top right;
        &-input {
            display: block;
            width: 65vw;
            height: 2.8125rem;
            margin: 0.9375rem auto;
            font-size: 1.125rem;
            padding: 0.625rem 0.9375rem;
            border: none;
            border-radius: 0.625rem;
            font-family: 'Poppins', sans-serif;
            color: $grayishViolet;
            outline: none;
        }
        &-btn {
            display: block;
            margin: 0.9375rem auto;
            width: 65vw;
            height: 2.8125rem;
            background-color: $cyan;
            border-radius: 0.625rem;
            color: $white;
            font-weight: bolder;
            font-size: 1.25rem;
            &:hover {
                background-color: hsla(180, 66%, 49%, 0.699);
            }
        }
    }
    .suggestion-url {

        display: none;
        
        .suggestion-field {
            width: 85vw;
            background-color: $white;
            margin: 0.625rem auto;
            text-align: center;
            padding: 0.625rem;
            border-radius: 0.3125rem;
            &-title {
                padding: 0.625rem;
            }
            &-dropdown {
                .suggestion-link {
                    color: $cyan;
                }
                .suggestion-btn {
                    padding: 0.3125rem 1.25rem; 
                    margin-left: 0.625rem;
                    background-color: $cyan;
                    color: $white;
                    border-radius: 0.3125rem;
                    &:hover {
                        background-color: hsla(180, 66%, 49%, 0.596);
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .url-input {
        .url-form {
            width: 70vw;
            padding: 50px 80px;
            background-image: url(../images/bg-shorten-desktop.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 93vw;
            &-input {
                display: inline;
                width: 45vw;

            }
            &-btn {
                display: inline;
                width: 10vw;
                margin-left: 0.625rem;
            }
        }
        .suggestion-url {

            display: none;

            .suggestion-field {
                width: 70vw;
                @include flex-row-col(row , space-between , center);
                &-title {
                }
                &-dropdown {
                    .suggestion-link {
                    }
                    .suggestion-btn {
                       
                    }
                }
            }
        }
    }
}